#card-container {
    display: flex;
    flex-wrap: wrap;
}

figure {
    border: 1px solid #aaa;
    padding: 8px;
    background-color: #222;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 200px;
}

figcaption {
    color: #fff;
}